<ion-view view-title="Converter">
  <ion-content class="padding">
    <h2>Welcome to Distance Converter App</h2>
<label class="item item-input">
  <span class="input-label">Feet</span>
  <input id="Feet" type="number" placeholder="Feet" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>

<label class="item item-input">
  <span class="input-label">Meters</span>
  <input id="Meters" type="number" placeholder="Meters" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>

<label class="item item-input">
  <span class="input-label">Inches</span>
  <input id="Inches" type="number" placeholder="Inches" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>

<label class="item item-input">
  <span class="input-label">Centimeter</span>
  <input id="Centimeter" type="number" placeholder="Centimeter" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>

<label class="item item-input">
  <span class="input-label">Yards</span>
  <input id="Yards" type="number" placeholder="Yards" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>

<label class="item item-input">
  <span class="input-label">Kilometers</span>
  <input id="Kilometers" type="number" placeholder="Kilometers" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>

<label class="item item-input">
  <span class="input-label">Miles</span>
  <input id="Miles" type="number" placeholder="Miles" oninput="LengthConverter(this.id,this.value)" onchange="LengthConverter(this.value)">
</label>
  </ion-content>
</ion-view>
